
/***********GENERAL**********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbdbd2;
}

main {height: 100vh;}

/******BACKGROUND WRAP******/

.wrap-bar {
    background-color:#009688;
    height: 90px;
}

/******CONTAINER CHAT******/

.main-chat { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;  
    height: 90%;
    margin: auto;
    display: flex;
    position: absolute;
    top: 5%;
}

.col-40 {
    width: 40%;
    background-color: red;  
    overflow-y: auto;
}

.col-60 {
    width: 60%;
    background-color: blue;
}

/*************LEFT COL - COL-40 ***************/

/*** PERSONAL CONTACT - SOFIA ***/
.my-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eaeaea;
    height: 60px;
}

.sofia-img-container{
    display: flex;
    align-items: center;
    
}

.sofia-img {
    width: 50px;
    border-radius: 100%;
}

.my-contact i {
    padding: 5px;
    color: #b1b1b1;
    
}

/*** NOTIFICATIONS ***/

.notifications {
    background-color:  #8edafc;
    height: 80px;
    display: flex;
    align-items: center;
}

.notifications figure {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 10px;
    background-color: white;
    color: #8edafc;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0 10px 0 10px;
}
.notifications > div > p:nth-child(2) {
    color: grey;
    text-decoration: underline;
}