/***********GENERAL**********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbdbd2;
}

/******BACKGROUND WRAP******/

.wrap-bar {
    background-color: #009688;
    height: 90px;
}

/******LAYOUT******/

.main-chat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    max-width: 40%;
    background-color: white;
}

.col-60 {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-image: url(/assets/img/mine.jpg);
}

/*************LEFT COL - COL-40 ***************/

/*** PERSONAL CONTACT - SOFIA ***/
.my-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eaeaea;
    height: 60px;
}

.user-img-container {
    display: flex;
    align-items: center;
}

.user-img {
    width: 50px;
    border-radius: 100%;
}

.my-contact i {
    padding: 5px;
    color: #b1b1b1;
}

/*** ROW NOTIFICATIONS ***/
.notifications {
    background-color: #8edafc;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 6px;
    
}

.notifications span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 10px;
    background-color: white;
    color: #8edafc;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0 10px 0 10px;
}

.notifications > div > p:nth-child(2) {
    color: grey;
    text-decoration: underline;
}

/*** ROW SEARCHBAR ***/
.searchbar-wrap {
    background-color: #fafafa;
}

.searchbar-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 3px;
    color: grey;
}

.searchbar-container span {
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(228, 225, 225);
}

.searchbar-container input {
    width: 100%;
    height: 30px;
    font-size: 10px;
    border: 1px solid rgb(228, 225, 225);
    padding: 10px;
}

/*** DINAMIC CONTACTS ***/
.container-contacts {
    background-color: white;
    overflow-y: auto;
    height: calc(100% - 170px);
}

.section-contacts {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(228, 225, 225);
}

.section-contacts figure {
    display: flex;
    border-radius: 100%;
    font-size: 22px;
}

.section-contacts img {
    width: 60px;
    border-radius: 100%;
}

.section-contacts h5 {
    padding: 10px;
}

.section-contacts span {
    justify-content: flex-end;
    padding: 10px;
}

.contact-card {
    display: flex;
}

/*************RIGHT COL - COL-60 ***************/


.col-60 > section:nth-child(1),
.col-60 > section:nth-child(3) {
    display: flex;
    background-color: #eaeaea;
    height: 60px;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    top: 0;
}

.col-60 > section:nth-child(3) {
    display: flex;
}

.last-access {
    color: #918c8c;
}

/***WRAP CHAT***/

/***ROW TEXTBAR CHAT***/

.textbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
    color: grey;
}

.textbar-container span {
    width: 10%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbar-container input {
    width: 90%;
    height: 36px;
    border: none;
    padding: 6px;
}

/***DINAMIC CHAT**/
.chat-area {  
    display: flex;
    padding: 30px;
    overflow-y: auto;
}

.badge {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    width: 40%;
}

.send {
    justify-content: start;
}

.received {
    background-color: #d5f9ba;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

